div {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* 
    Vamos a dar un tamaño fijo de 960px a la página para que
    sea más senzillo calcular tamaños.
*/
#page-wrapper {
    width: 960px;
    border: 1px solid grey;
    margin: auto;
    left: 0;
    right: 0;
   padding: 15px;
}
#header {
    color: white;
    background: #6b6b6b;
    padding: 15px 0 0 0;
}

#header h1 {
    margin-top: 0;
    margin-left: 15px;
}

#navigation-links {
    background: black;
}

#navigation-links ul {
    margin: 0;
    padding: 10px;
}


/*
    Creamos 2 columnas para el contenido principal
    y la barra lateral.
*/
#main-content, #sidebar {    
    vertical-align: top;
}
#main-content {

}

#sidebar {
    display:none;
}

/*
    Damos estilos al contenido principal
*/
#main-article {
    padding: 5px;
    background: #e6e6e6;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/*
    Definimos la cuadrícula de artículos
    usando flexible boxes.
*/
#articles {
  

}

.article {
    
}

/*
    Hay que recolocar la lista en horizontal. 
*/
#navigation-links li {
display: inline
}

#navigation-links a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

#navigation-links a.active {
    background: #6b6b6b;
    border-radius: 5px;
}

/*
    Definimos la cuadricula de ads utilizando flexbox.
*/
#ads-container {

}

.ad-item {
    border: 1px solid #ccc;
    background: #e6e6e6;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    margin: 15px;
    box-sizing: border-box;
}

#footer {
    background: #ccc;
    padding: 15px;
}


/*
    Definimos medidas para desktop
*/

@media (min-width: 600px) {
    #main-content, #sidebar {
        display: inline-block;
    }

    #main-content {
        width:70%;
    }

    #sidebar{
        width: 29%;
    }

    #ads-container{
        display: flex;
        flex-wrap: wrap;
    }

    #articles {
    display: flex;
    flex-wrap: wrap; 

    }

    .article {
    width: 50%;
    padding: 15px;
    }

}